  <!-- SECCION 1 -->
  <div>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </div>
  <div class="containersec">
    <div class="textcontainer1">
        <p>HEY! SABIAS QUE PUEDES ESCUCHAR TU MUSICA DONDE QUIERA QUE VAYAS?</p>
    </div>
    <div class="textcontainer2">
        <p>PUEDES ESCUCHAR LO ULTIMO DE TU ARTISTA FAVORITO</p>
    </div>
    <div class="textcontainer3">
        <p>NO TIENES ARTISTA FAVORITO? PREFIERES ESCUCHAR UN PODCAST, LA RADIO, LO QUE QUIERAS JUSTO AQUI</p>
    </div>
    <div class="btncontainer">
        <button id="listen"><a href="/WebPlayer"> Escuchar ahora </a></button>
    </div>
</div>

<!-- SECCION 2 -->
<div class="containerimgsec">
    <p>Ultimos Lanzamientos Mundiales</p>
    <!-- TRENCH IMG -->
    <div class="imga">
        <div class="imgwrapper8">
        <img class="trench" src="/images/trench.jpg" alt="latest">
        <div class="hoverimg8">
            <div class="text8">
                <ul>
                    <li>21 Pilots</li>
                    <li>700M de reproducciones</li>
                    <li>TRENCH</li>
                    <li><a href=""><button> Escuchar ahora</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BADBUNNY IMG -->
<div class="imga">
        <div class="imgwrapper">
        <img class="EUTDM" src="/images/EUTDM.jpg" alt="">
    <div class="hoverimg">
        <div class="text">
            <ul>
                <li>Bad Bunny</li>
                <li>1B de reproducciones</li>
                <li>EUTDM</li>
                <li><a href=""><button> Escuchar ahora</button></a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<!-- DRAKE IMG -->
<div class="drake">
    <div class="imgwrapper2">
        <img class="drake" src="/images/drake.jpg" alt="">
        <div class="hoverimg2">
            <div class="text2">
                <ul>
                    <li>DRAKE</li>
                    <li>700M de reproducciones</li>
                    <li>GODS PLAN</li>
                    <li><a href=""><button> Escuchar ahora</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- BILLIE IMG -->

    <div class="imga">
    <div class="imgwrapper3">
        <img class="billie" src="/images/billie.jpg" alt="">
        <div class="hoverimg3">
            <div class="text3">
                <ul>
                    <li>Billie Eilish</li>
                    <li>200M de reproducciones</li>
                    <li>Happier than ever</li>
                    <li><a href=""><button> Escuchar ahora</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<!-- PLUTO IMG -->
<div class="containerimg2">
    <div class="imga2">
        <div class="imgwrapper4">
        <img class="pluto" src="/images/pluto.jpg" alt="">
        <div class="hoverimg4">
            <div class="text4">
                <ul>
                    <li>Lil Uzi Vert ft Future</li>
                    <li>400M de reproducciones</li>
                    <li>Pluto x Baby Pluto</li>
                    <li><a href="/webPlayer"><button> Escuchar ahora</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ARREBATO IMG -->
    <div class="imga2">
        <div class="imgwrapper5">
        <img class="arrebatao" src="/images/arrebatao.jpg" alt="">
        <div class="hoverimg5">
            <div class="text5">
                <ul>
                    <li>EL Alfa</li>
                    <li>16M de reproducciones</li>
                    <li>ARREBATO'</li>
                    <li><a href=""><button> Escuchar ahora</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- IUXD IMG -->
    <div class="imga2">
        <div class="imgwrapper6">
        <img class="iuxd" src="/images/iuxd.jpg" alt="">
        <div class="hoverimg6">
            <div class="text6">
                <ul>
                    <li>Ateez</li>
                    <li>800M de reproducciones</li>
                    <li>Im the one</li>
                    <li><a href=""><button> Escuchar ahora</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- LEVITATING IMG -->

<div class="imga2">
    <div class="imgwrapper7">
    <img class="levitating" src="/images/levitating.jpg" alt="">
    <div class="hoverimg7">
        <div class="text7">
            <ul>
                <li>Dua lipa ft Dababy</li>
                <li>200M de reproducciones</li>
                <li>Levitating</li>
                <li><a href=""><button> Escuchar ahora</button></a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
</div>
<script src="./scripts/index.js"></script>