<table class="table table-dark table-striped table-hover">
        <thead>         
            <tr>             
                <th scope="col">ID</th>             
                <th scope="col">Nombre</th>                        
                <th scope="col">Telefono</th>             
                <th scope="col">Correo</th>        
            </tr>     
        </thead>     
        <tbody>          
            <% for(var i=0; i < results.length; i++) { %>          
                <td><%= results[i].id %> </td>         
                <td><%= results[i].fname %> </td>                 
                <td><%= results[i].phone %> </td>                 
                <td><%= results[i].mail %> </td>          
            <% } %>        
            </tbody> 
        </table>