<div class="helpsection">
    <div class="searchtext">
        <p>¿EN QUE TE PODEMOS AYUDAR?
        </p>
    </div>
    <div class="search">
        <span class="fas fa-search"></span>
        <input type="text" name="Search" id="search" placeholder="Buscar">
    </div>
    <div class="FAQ">
        <p>PREGUNTAS USADAS FRECUENTEMENTE</p>
        <div class="Questions"><a href="#">¿Como puedo Iniciar Sesion?</a></div>
        <div class="Questions"><a href="#">¿Problemas para entrar a tu cuenta?</a></div>
        <div class="Questions"><a href="#">¿Como cambiar mi region?</a></div>
    </div>
    <div class="FAQ1">
        <div class="Questions"><a href="#">Restaurar mi contraseña</a></div>
        <div class="Questions"><a href="#">¿Como agregar una playlist?</a></div>
    </div>
</div>

<!-- Community Section  -->
<section class="contact">
    <!-- <div class="content">
      <h2>Habla con la communidad</h2>
      <p>Nuestra comunidad esta abierta a cientos de sugerencias, si quieres entrar a la comunidad puedes hacerlo sin problema,y si quieres comunicarte con ellos para ayudas mas avanzadas y tambien poder charlar con diferentes personas a lo largo del mundo!</p>
    </div> -->
    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Direccion</h3>
            <p>L3I4, Prolongacion 27 <br> Santo Domingo Oeste, SD <br> 10001</p>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Phone</h3>
            <p>+1-809-696-3691</p>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Email</h3>
            <p>ALUSIXCommunity@outlook.com</p>
          </div>
        </div>
      </div>
      <div class="contactform">
        <form action="/peticiones" method="POST">
          <h2>Envia tu sugerencia</h2>
          <div class="inputbox">
            <input type="text" name="name" id="name" required>
            <span>Nombre Completo</span>
          </div>
          <div class="inputbox">
            <input type="email" name="mail" id="mail" required>
            <span>Email</span>
          </div>
          <div class="inputbox">
            <input type="text" name="phoneNumber" id="phoneNumber" required>
            <span>Numero Celular</span>
          </div>
          <div class="inputbox">
            <textarea name="description" id="description" required></textarea>
            <span>Escribe tu mensaje</span>
          </div>
          <div class="inputbox">
            <input type="submit" name="send" id="send" value="Enviar">
          </div>
        </form>
      </div>
    </div>
  </section>
  <script src="./scripts/index.js"></script>