
<div class="download">
    <div class="imgd">
        <img src="./images/musicwaves.png" alt="musicwaves">
    </div>
    <p>DESCARGA ALUSIX EN TU PLATAFORMA FAVORITA</p>
    <div class="dlinks">
        <div class="alignlinks">
        <div class="microsoft">
            <span><i class="fab fa-microsoft"></i></span>
            <span>Microsoft Store</span>
        </div>
    </div>
    <div class="alignlinks">
        <div class="Apple">
            <span><i class="fab fa-apple"></i></span>
            <span>Apple  Store</span>
        </div>
    </div>
    <div class="alignlinks">
        <div class="Play-Store">
            <span><i class="fab fa-google-play"></i></span>
            <span>Play  Store</span>
        </div>
    </div>
    </div>    
</div>

<!-- SECCION DOS -->

    <div class="devices">
        <div class="text">
            <p>¿Sabias que nos puedes escuchar hasta de camino al trabajo? en tu tv, donde quieras!</p>
        </div>
        <div class="container-slider">
            <div class="slider" id="slider">
                 <div class="slider__section">
                     <img src="/images/laptop.png" alt="" class="slider__img">
                    </div>
                 <div class="slider__section">
                     <img src="/images/phone.png" alt="" class="slider__img1">
                    </div>
                 <div class="slider__section">
                     <img src="/images/television.png" alt="" class="slider__img">
                    </div>
                 <div class="slider__section">
                     <img src="/images/car radio.png" alt="" class="slider__img">
                    </div>
                 <div class="slider__section">
                     <img src="/images/Tablet.png" alt="" class="slider__img">
                    </div>
                 <div class="slider__section">
                     <img src="/images/smartwatch.png" alt="" class="slider__img">
                    </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
        </div>
    </div>
    <script src="./scripts/download.js"></script>