<div class="aboutus"><h1>SOBRE NOSOTROS</h1></div>
    <div class="grid">
                <div class="about">
                    <p>Fundada por Albert J. Dipre
                        Es una empresa en desarrollo destinada a la creación de equipos musicales y también cuenta con una App musical
                        Alusic se concentra mayormente en aquel publico amante de la música y que no puede vivir sin ella aquellos los cuales les interesa la mejor calidad y el mejor servicio de audio.
                        <br><br>
                        MISION: Nos queremos encargar de llevar la música y la manera de escucharla a todas las partes del mundo de tal manera que cualquier individuo de cualquier clase pueda adquirir nuestros servicios y productos, cualquier evento, cualquier actividad, queremos estar presente para ti.
                        <br><br>
                        VISION: Queremos llegar a todas las partes del mundo mediante un plan estratégico el cual nos permitirá expandir nuestros horizontes, y llegar a cada uno de nuestros usuarios de mejor manera.
                        </p>
                </div>
                <div class="adress">
                    <ul class="fa-ul"><h1>Sede Principal de ALusiX</h1>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>ALusiX DR</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Calle Sanchez #27</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>San Cristobal</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Yaguate #91000</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Republica Dominicana</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>AlusiX</li>

                    </ul>
                    <button id="map">VER EN MAPA</button>
                    <div id="mymodalmap">
                        <span class="close">&times;</span>
                        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=do%C3%B1a%20ana%20san%20cristobal&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies2.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedding google maps in web page</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
                    </div>
                    <p>VALORES: Transparencia, somos una empresa clara y precisa de lo que queremos lograr y como lo lograremos no nos gusta esconderle ninguna información a nuestros usuarios.
                        <br><br>
                        Honestidad: Nos gusta decirles a nuestros usuarios las cosas como son si nuestro producto está representando fallas no nos dolerá decirlo pues la cercanía que tendríamos con ellos nos lo facilitara.
                        <br><br>
                        Libertad: cada uno de nuestros empleados desde el de menor puesto hasta el de mayor puesto tendrá la facilidad de dar su opinión si algo no le gusta o tiene ideas para un proyecto, buscamos que todos(as) tengan la misma oportunidad de hablar.
                        <br><br>
                        Adaptabilidad: Somos los que mejores nos adaptamos a los cambios mundiales, pues no nos duele invertir en lo que más debemos por ejemplo si hubiésemos estado vigente en el 2020, nos hubiésemos adaptado a aquella pandemia y hubiésemos salido a flote sin importar que.
                        <br><br>
                        Cercanía: Como ya hemos definido en los valores anteriores nuestros clientes serán nuestra razón de ser por eso cada año hacemos un evento con ellos para acercarnos más y más y tener una mejor relación profesional.
                        </p>
                </div>
                <div class="publicity">
                    <p>JUST RELAX WITH THIS VIDEO</p>
                  <div class="video"><iframe src="https://www.youtube.com/embed/gVKEM4K8J8A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                  
                  <p>¿HAVE YOU PLAYED THIS GAME?</p>
                  <div class="ad">
                      <img src="./images/spritesxd.gif" alt="ad">
                  </div>
                </div>
        <div>                  
    </div>
</div>
<script src="./scripts/index.js"></script>
<script src="./scripts/about.js"></script>