<!-- FOOTER -->
    
<div class="footer">
    <div class="logofooter"><a href="#"><img src="/images/AlusiXwhite.png" alt="logo"></a></div>
<div class="socialmedia">
    <div class="facebook"><a href="https://www.facebook.com/profile.php?id=100068346382316" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
    <div class="instagram"><a href="https://www.instagram.com/alusixapp/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></div>
    <div class="twitter"><a href="https://twitter.com/alusi_x" target="_blank"><i class="fab fa-twitter"></i></a></div>
</div>
    <div class="infocontainer">
        <div class="Company">
        <ul><h1>Compañia</h1>
            <li><a href="/About">Acerca de</a></li>
            <li><a href="#">Empleo</a></li>
            <li><a href="#">Politica de privacidad</a></li>
        </ul>
    </div>
    <div class="Community">
        <ul><h1>Comunidades</h1>
            <li><a href="#">Desarrolladores</a></li>
            <li><a href="#">Publicidad</a></li>
            <li><a href="#">Blog</a></li>
            <li class="no">.</li>
        </ul>
    </div>
    <div class="usefulinks">
        <ul><h1>Enlaces utiles</h1>
            <li><a href="/WebPlayer">Reproductor web</a></li>
            <li><a href="#">App movil gratis</a></li>
            <li><a href="#">Ayuda</a></li>
            <li class="no">.</li>
        </ul>
    </div>
    </div>
    <div class="lasttext">
        <p>ALL RIGHTS RESERVED ALUSIX 2021 DR</p>
    </div>
</div>