<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head",{title:"Download",linkcss:"./styles/download.css"}) %>
</head>
<body>
<header>
    <%- include("../partials/header") %>
</header>
<section>
    <%- include("../partials/bodyDescargar") %>
</section>
<footer>
    <%- include("../partials/footer") %>
</footer>
</body>
</html>