<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head",{title:"AlusiX",linkcss:"./styles/home.css"}) %>
</head>
<body>
<header>
    <%- include("../partials/header") %>
</header>
<section>
    <%- include("../partials/bodyIndex") %>
</section>
<footer>
    <%- include("../partials/footer") %>
</footer>
<!-- <script src="/public/scripts/index.js"></script> -->
</body>
</html>