@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Ginora";
    font-weight: 700;
}
@font-face {
  font-family: "Ginora";
  src: url(../fonts/Ginóra\ Sans\ Regular.otf) format("opentype");
}

/* HEADER */

.header{
    position: sticky;
    top: 0;
    z-index: 1;
}
nav{
    background: #000;
    height: 80px;
    width: 100%;
}
label.logo img{
    width: 150px;
    margin-left: 8%;
    margin-top: 0.8%;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover{
    color: #FFD60A;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*INICIAR SESION*/
.bg-img{
    background-image: url("/images/meteors.gif");
    display: none;

  }
  .bg-img:after{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,20%);
    background: rgb(255, 255, 255);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  }
  .content header img{
    margin: 0 0 35px 0;
    width: 300px;
  }
  .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
  }
  .field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .space{
    margin-top: 16px;
  }
  .show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .pass-key:valid ~ .show{
    display: block;
  }
  .pass{
    text-align: left;
    margin: 10px 0;
  }
  .pass a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
  }
  .pass:hover a{
    text-decoration: underline;
  }
  .field input[type="submit"]{
    background: #ffffff;
    border: 1px #7e7e7e;
    border-radius: 5%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    width: 100px;
    margin-left: 60%;
  }
  .field input[type="submit"]:hover{
    background: #000000;
    color: #ffffff;
    transition: .5s;
  }
  .login{
    color: rgb(0, 0, 0);
    margin: 20px 0;
    font-family: 'Poppins',sans-serif;
  }
  .links{
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
  }
  .facebook2,.google{
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
  }
  .facebook2{
    margin-left: 0;
    background: #4267B2;
    border: 1px solid #3e61a8;
  }
  .google{    
    background-color: #ffffff;
    border: 1px solid #eeeeee;
  }
  .google i{
    color: #000;
}
  .facebook2:hover{
    background: #3e61a8;
  }
  .google:hover{
    background: #000;
    color: #fff;
    border: 1px solid #000;
  }
  .google:hover i{
    color: #fff;
  }
  .links i{
    font-size: 17px;
  }
  i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .signup{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins',sans-serif;
  }
  .signup a{
    color: #3498db;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
/* SECCIONES */

.helpsection{
    background-color: #FFD60A;
    width: 100%;
    text-align: center;
}

.search{
    position: relative;
    height: 45px;
    width: 50%;
    margin-left: 25%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
    margin-bottom: 3.5%;
}

.searchtext{
    padding-top: 10%;
    padding-bottom: .8%;
    font-size: 30px;
}

.search input{
    height: 100%;
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.search span{
    color: #222;
    width: 40px;
    margin-left: px;
    line-height: 45px;
}
.FAQ{
    width: 50%;
    text-align: left;
    margin-left: 25%;
    padding-bottom: 1%;
}

.FAQ p{
    padding-bottom: 1%;
    font-size: 30px;
}

.FAQ1{
    width: 50%;
    text-align: left;
    margin-left: 25%;
    padding-bottom: 5%;
}
.Questions{
    margin: 2px;
    display:inline-block;
    width: 300px;
    text-align: left;
    color: #fff;
}
.Questions a{
    color: #000;
    text-decoration: none;
    font-size: 21px;
}
.Questions a:hover{
    text-decoration: underline;
}
/* communitysection */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('/images/bg.jpg');
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}
.contact .content p{
    font-weight: 300;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 30px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactform
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input, .contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,.contactform .inputbox input:valid ~ span,.contactform .inputbox textarea:focus ~ span,.contactform .inputbox textarea:valid ~ span{
    color: #FFC300;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type = "submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.contactform .inputbox input[type = "submit"]:hover{
    background: #FFC300;
}
/* FOOTER */

/* FOOTER */

.footer{
    background-color: #000;
    color: #fff;
    width: 100%;
}
.logofooter{
    display:inline-block;
    margin-left: 5%;
    margin-top: 3%;
}
.logofooter img{
    width: 150px;
}
li{
    list-style: none;
    font-size: 24px;
}
.infocontainer{
    margin-left: 20%;
    width: 50%;
    text-align: center;
}

.Company{
    padding: 5px 10px 5px 10px;
    margin: 2px;
    display:inline-block;
    width: 200px;
    text-align: left;
    color: #fff;
}
.Company a{
    color: #fff;
    text-decoration: none;
}
.Community{
    padding: 5px 10px 5px 10px;
    margin: 2px;
    display:inline-block;
    width: 200px;
    text-align: left;
    color: #fff;
}
.Community a{
    color: #fff;
    text-decoration: none;
}
.usefulinks{
    padding: 5px 10px 5px 10px;
    margin: 2px;
    display:inline-block;
    width: 200px;
    text-align: left;
    margin-left: 5%;
}
.usefulinks h1{
    font-size: 28px;
}
.usefulinks a{
    font-size: 20px;
}
.infocontainer a{
    color: #fff;
    text-decoration: none;
}
.infocontainer a:hover{
    color: #FAD04F;
}
.no{
    color: #000;
}
.socialmedia{
    display: inline-block;
    float: right;
    padding: 5px 10px 5px 10px;
    margin-top: 4%;
    margin-right: 8%;
}
.socialmedia a{
    color: #fff;
}
.socialmedia a:hover{
    color: #FFD60A;
    font-size: 44px;
}

.facebook{
    display: inline-block;
    font-size: 40px;
    padding: 20px;
}

.instagram{
    display: inline-block;
    font-size: 40px;
    padding: 20px;
}

.twitter{
    display: inline-block;
    font-size: 40px;
    padding: 20px;
}

.lasttext{
    margin-left: 85%;
}
.lasttext p{
    padding-bottom: 15%;
    font-size: 10px;
}
@media (max-width:952px) {
    label.logo{
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        background: #000;
        top: 80px;
        left: -100%;
        text-align: right;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, :active{
        color: #FFC300;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
